.top_title h1{

    font-size: 72px;
    padding-left: 8%;
}

.logo{
    padding-left: 8%;
    padding-top: 2%;
}

.nav_top{

}

.nav_top ul{
    list-style: none;
    margin-left: 15%;
    padding: 1%;
}

.nav_top ul li{
    display: inline;
    padding: 3%;
}

.nav_top ul li:hover{
    background-color: gray;
}



.nav_second{
    padding-left: 10%;
}

.nav_second ul{
    list-style: none;
    margin-left: 15%;
    padding: 1%;
}

.nav_second ul li{
    display: inline;
    padding: 2%;
}

.carousel_top{

    padding-left: 40%;
}
.bible_verse{
    padding-left: 15%;
    padding-bottom: 3%;
}

.word_of_life{

    padding-left: 15%;
}

.word_of_life_img{

    padding: 4%;
}

.word_of_life_text{

    padding: 4%;
}

.upcoming_events{

    padding: 3%;
}

.event{
    padding: 3%;
}

.view_full_calendar{

    padding-left: 20%;
}